
.btnViewWork{
    border: transparent;
    color: rgb(236, 229, 229);
    background-color: #07376a;
    border-radius: 200px;
    height: 4em;
    width: 17.5em;
}
.btnViewWork:hover{
    border: solid 2px #07376a;
    color: #07376a;
    background-color: transparent;
}