.navbar-brand{
    color: #07376a;
}
.nav-link {

  transition: all 0.3s ease;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: rgb(225, 224, 231); /* Hover color */
  border-bottom: 2px solid rgb(225, 224, 231);
}

.nav-link.active {
  color: rgb(225, 224, 231); /* Active color */
  border-bottom: 2px solid rgb(225, 224, 231);
}
.navLogo{
    height: 2em;
}
.navbar{
    background-color: #07376af1;
    z-index: 1;
}