body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.background{
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(238,238,238);
  color:rgba(0, 0, 0, 0.922);

}
